*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.container1,.container2{
    display: flex;
    flex-wrap: wrap;
    

    /* background:url(restaurant.jpg) 0 0 repeat #cfcfe6;
        height: auto;
        width: auto; */
        /* background: black;
        overflow: hidden; */
        /* background: black;  fallback colour. Make sure this is just one solid colour. */
        /* background: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("app-background.jpg"); */
        /* background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url("https://bit.ly/2rlzaXi"); The least supported option. */
    
    
    
}
.container1{
    background-image:url(app-background.jpg);
   
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat; 
    height: 100%; 
     width: 100%;
}
.container2{
    background: linear-gradient(to right, white, rgb(224, 224, 247));

}
header{
    background-color: orange;
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header li{
    display: inline;
    line-height: 50px;
    margin: 0 10px;
}
header a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    color: rgb(27, 26, 26);
    text-shadow: 1px 1px 1px gray;
    font-family: 'Goudy Bookletter 1911', serif;
}
h1{
    line-height: 50px;
    color: rgb(27, 26, 26);
    text-shadow: 1px 1px 1px gray;
    font-family: 'Goudy Bookletter 1911', serif;
    
}
p{
    line-height: 30px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bolder;
    color: black;
    text-shadow: -1px -1px 1px gray;
    font-family: 'Raleway', sans-serif;
}
span{
    font-size: 28px;
    color: orange;
}
.pic{
    display: none;
}
.text{
    width: 50%;
    margin-top: 10rem;
    margin-left: 3rem;
    
}

.image{
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    
}
.desktop-image{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    
}
.app-img{
    width: 150px;
    height: 200px;
    margin-right: 20px;
    margin-top: -4rem;
}
h2{
    font-size: 30px;
    text-align: center;
    color: orange;
}
#testimonials{
    background: linear-gradient(to right, white, rgb(224, 224, 247));
}
.container3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.people{
    padding: 1rem;
    width: 300px;
    height: 150px;
    background-color:rgb(207, 207, 255) ;
    border-radius: 30px;
    margin: 2rem 1rem;
}
#contact{
    background-color: orange;
}
.container4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-logo{
    font-size: 30px;
    padding: 3rem;
}

.lorem{
    width: 30%;
    display: flex;
    flex-direction: column;
    
}
.text-icon{
    color: black;
}
.icon{
    margin-right: 10px;
}
.icons{
    color: white;
    line-height: 1.5 ;
    display: flex;
    margin-bottom: 1rem;

}
.item{
    width: 10%;
    display: flex;
    flex-direction: column;
    line-height: 2.0;
    
    
}
.item a{
    color: black;
    text-decoration: none;
}


.socials{
    width: 20%;
    display: flex;
}
.social-items{
    margin-right: 10px;
}
.last{
    font-size: 12px;
    text-align: center;
}
@media screen and (max-width:770px){ 
.pic{
    display: block;
}
.container{
    background-image: url(restaurant.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: auto;
}
h1{
    padding: 0 1rem;
}
p{
    font-size: 20px;
    text-align: center;
}
.mobile-image{
    width: 100%;
    height: 100%;
    margin-top: 2rem;
}
.image{
    display: none;
}
.text{
    width: 100%;
    margin:3rem 1.5rem;
}
.app{
    text-align: center;
}
.app-img{
    width: 120px;
    height: 200px;
    margin-right: 10px;
    margin-top: -4rem;
}
.footer-logo,.container4{
    padding: 1.5rem;
}

.lorem,.item,.socials{
   width: 100%;
   margin-bottom: 20px;
}
.socials{
    display: flex;
    justify-content: center;
}

}